<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<div class="jumbotron text-center">

    <label>OID</label>
    <input class="w3-input w3-border" type="text" ng-model="oid"  placeholder="">

    <label>IP Address</label>
    <input class="w3-input w3-border" type="text" ng-model="ipAddress" placeholder="">

    <label>Action Type</label>
    <select ng-model="selectedAction" ng-options="x for x in actions"></select>

    <button class="w3-btn w3-green w3-ripple"  ng-click="performAction()">&#9998; Perform</button>
    <br>
    <br>
    <button class="w3-btn w3-round-large" ng-click="showGets()">GetResponse</button>
    <button class="w3-btn w3-round-large" ng-click="showTable()">Table</button>
    <button class="w3-btn w3-round-large" ng-click="showMonitor()">Monitor</button>

    <table class="w3-table w3-bordered w3-striped" ng-show=showGetsLock>
        <tr>
            <th>OID</th>
            <th>Value</th>
        </tr>
        <tr ng-repeat="response in getResponses ">
            <td>{{ response.oid }}</td>
            <td>{{ response.value }} </td>
        </tr>
    </table>

    <table class="w3-table w3-bordered w3-striped" ng-show=showMonitorLock>
        <tr>
            <th>OID</th>
            <th>Value</th>
            <th>Time</th>
        </tr>
        <tr ng-repeat="monitoredObjectValue in monitoredObjectValues ">
            <td>{{ monitoredObjectValue.oid }}</td>
            <td>{{ monitoredObjectValue.value }} </td>
            <td>{{ monitoredObjectValue.time }} </td>
        </tr>
    </table>
    <table class="w3-table w3-bordered w3-striped" ng-show=showTableLock>

        <tr ng-repeat="record in getTableResponse.values ">
            <td><p>{{record.fields[0]}}</p></td>
            <td><p>{{record.fields[1]}}</p></td>
            <td><p>{{record.fields[2]}}</p></td>
            <td><p>{{record.fields[3]}}</p></td>
            <td><p>{{record.fields[4]}}</p></td>
            <td><p>{{record.fields[5]}}</p></td>
            <td><p>{{record.fields[6]}}</p></td>
            <td><p>{{record.fields[7]}}</p></td>
            <td><p>{{record.fields[8]}}</p></td>
            <td><p>{{record.fields[9]}}</p></td>
            <td><p>{{record.fields[10]}}</p></td>
            <td><p>{{record.fields[11]}}</p></td>
            <td><p>{{record.fields[12]}}</p></td>
        </tr>
        <tr ng-repeat="record in getTableResponse.values ">

            <td ng-repeat="field in record.fields">{{field}}</td>
        </tr>
    </table>
    <!--<p>{{getTableResponse}}</p>-->
    <!--<br>-->
    <!--<p>{{getTableResponse.columnsNames}}</p>-->
    <!--<br>-->
    <!--<p>{{getTableResponse.values}}</p>-->
    <!--<br>-->
    <!--<p>{{getTableResponse.values[0].fields}}</p>-->


</div>